body {
    height: 100vh;
    background-image: linear-gradient(
        #009688,
        #009688 15%,
        #DADBD5 15%,
        #DADBD5
        );
}

.container {
    height: 100%;
}

.left-col {
    width: 40%;
    background-color: #FAFAFA;
    border-right: 1px solid royalblue;
}

.right-col {
    width: 60%;
    background-image: url(../img/mine.jpg);
}

.left-col, .right-col {
    height: 100%;
}

nav {
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

i {
    color: #B1B1B1;
    font-size: 22px;
}

.media-card {
    height: 90px;
    display: flex;
    align-items: center;
}

.media-card figure {
    height: 60px;
    padding: 5px;
}

.media-card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

#desktop-alert {
    background-color: #8EDAFC;
    padding: 15px;
    height: 140px;
}

.bell {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
}

.fa-bell-slash {
    color: #8EDAFC;
}

#chat-list {
    background-color: #fff;
}

.msg-card {
    display:flex;
}

.msg-card.sent {
    justify-content: flex-end;
}

.msg-card.received {
    justify-content: flex-start;
}

.msg-card.sent .msg {
    background-color: #d5f9ba;
}

.msg-card.received .msg {
    background-color: #fff;
}

footer {
    height: 80px;
    background-color: #F3EEEA;
}